{sub_dirs, ["rel"]}.
{deps_dir, "deps"}.
% {erl_opts, [warn_missing_spec, warn_untyped_recod]}.%, warnings_as_errors]}.
{erl_opts, [warnings_as_errors]}.

% {erl_first_files, ["src/modules/dw_controller.erl"]}.

{deps, [%% Common purposes
         {config_server , ".*"   , {git, "git://github.com/rusblaze/config_server.git", {tag,"0.0.1.R.2"}}}
       , {lager         , ".*"   , {git, "git://github.com/basho/lager.git"           , {tag,"2.0.3"}    }}
       , {cowboy        , ".*"   , {git, "git://github.com/extend/cowboy.git"         , {tag,"0.10.0"}   }}
       , {ua_classifier , ".*"   , {git, "git://github.com/zotonic/ua_classifier.git"                    }}
       , {jiffy         , ".*"   , {git, "git://github.com/davisp/jiffy.git"          , {tag,"0.11.3"}   }}
       , {erlydtl       , ".*"   , {git, "git://github.com/erlydtl/erlydtl.git"       , {tag,"0.9.4"}    }}
       % , {sockjs        , "0.3.4", {git, "git://github.com/sockjs/sockjs-erlang.git"                     }}
        %% Testing purposes
       , {ibrowse       , ".*"   , {git, "git://github.com/cmullaparthi/ibrowse.git"                     }}
       ]}.

{clean_files, ["erl_crash.dump"]}.

{erlydtl_opts, [ {doc_root        , "priv/templates_c"          }
               , {out_dir         , "ebin"                      }
               , {compiler_options, [report, return, debug_info]}
               , {source_ext      , ".dtl"                      }
               , {module_ext      , "_view"                     }
               ]}.

% %% == EUnit ==
% %% Options for eunit:test()
% {eunit_opts, []}.
% %% Additional compile options for eunit. erl_opts is also used
% {eunit_compile_opts, []}.
% %% Same as erl_first_files, but used only when running 'eunit'
% {eunit_first_files, []}.

% % %% == EUnit Cover ==
% % %% Whether to enable coverage reporting. Default is `false'
% {cover_enabled, true}.
% %% Whether to print coverage report to console. Default is `false'
% {cover_print_enabled, true}.
% %% Whether to export coverage report to file. Default is `false'
% {cover_export_enabled, true}.

% %% == Common Test ==
% %% Override the default "test" directory in which SUITEs are located
% {ct_dir, "test"}.
% %% Override the default "logs" directory in which SUITEs are logged
% {ct_log_dir, "test/logs"}.
% %% Option to pass extra parameters when launching Common Test
% % {ct_extra_params, "-boot start_sasl -s myapp"}.
% {ct_extra_params, "-boot start_sasl"}.
% %% Option to use short names (i.e., -sname test) when starting ct
% {ct_use_short_names, false}.

% {ct_node, "test@smsfc.dev"}.
